* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  background: rgb(240, 240, 15);
  padding: 40px;
  font-family: Montserrat;
}

.container {
  overflow: hidden;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.wrapper {
  background: #ffffff;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    -23px 0 20px -23px rgba(0, 0, 0, 0.8), 23px 0 20px -23px rgba(0, 0, 0, 0.8),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.sidebar {
  width: 350px;
  background: linear-gradient(-40deg, #000000, #0f9b0f);
  background-size: 500% 500%;
  animation: gradient 5s ease infinite;
  color: #fff;
  padding: 60px 0;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.my-photo {
  width: 300px;
}

.about-me-container {
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 110px;
  padding-bottom: 110px;
}

.contacts-container {
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 40px;
}
.contacts-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}

.contacts-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #d1caca;
  text-decoration: none;
}
.contacts-link-type {
  margin-right: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
}

.tech-Skills-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
  color: #ffffff;
}
.tech-Skills-container {
  margin-right: 40px;
  margin-top: 55px;
}
.tech-Skills-iten {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #ff6b08;
  margin-left: 15px;
}
.tech-Skills-text {
  color: #b5b8be;
}
.soft-Skills-container {
  margin-right: 40px;
  margin-top: 55px;
}
.soft-Skills-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
  color: #ffffff;
}
.soft-Skills-iten {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #ff6b08;
  margin-left: 15px;
}
.soft-Skills-text {
  color: #b5b8be;
}

.profession {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 25px;
  color: #ff8839;
}

.name {
  margin-top: 40px;
  font-size: 45px;
  font-weight: 700;
  line-height: 89px;
  text-align: center;
}
.description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 25px;
  color: #080808;
}
.info-container {
  margin-bottom: 65px;
}
.about-me-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 15px;
}

.projects-link {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}
.tech-name {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.dots {
  color: #cecece;
  font-weight: 100;
}

.projects-iten {
  font-weight: 700;
  margin-left: 20px;
}
.projects-conteiner {
  margin-bottom: 55px;
}
.profession-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.profession-company {
  color: #ff8839;
}
.profession-time {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}
.profession-devider {
  color: #000;
}
.profession-duties {
  margin-top: 15px;
  margin-bottom: 30px;
}
.profession-duties-iten {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.profession-specialization {
  margin-bottom: 15px;
}

a:hover {
  color: #ff6b08; /* Цвет текста */
}
